<%- include('./partials/head', { title: 'API Test' }) -%>
    <h1>
        <%= title %>
    </h1>
    <form>
        <input type="button" onclick="window.location.href='/apitest/ListNodes'" value="List Nodes">
    </form>
    <br>
    <% if (nodeData !==null ) { %>
        <% nodeData.forEach(function(node) { %>
            <%= node.node_id %>, <%= node.type %>, <%= node.name %>, <%= node.owner %>,  <%= node.text %> <br>
        <% }) %>
    <% }; %>
<%- include('./partials/foot') -%>